<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ReservationTable</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Texturina-Thin.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Texturina_12pt-Black.ttf</string>
		<string>Texturina_12pt-BlackItalic.ttf</string>
		<string>Texturina_12pt-Bold.ttf</string>
		<string>Texturina_12pt-BoldItalic.ttf</string>
		<string>Texturina_12pt-ExtraBold.ttf</string>
		<string>Texturina_12pt-ExtraBoldItalic.ttf</string>
		<string>Texturina_12pt-ExtraLight.ttf</string>
		<string>Texturina_12pt-ExtraLightItalic.ttf</string>
		<string>Texturina_12pt-Italic.ttf</string>
		<string>Texturina_12pt-Light.ttf</string>
		<string>Texturina_12pt-LightItalic.ttf</string>
		<string>Texturina_12pt-Medium.ttf</string>
		<string>Texturina_12pt-MediumItalic.ttf</string>
		<string>Texturina_12pt-Regular.ttf</string>
		<string>Texturina_12pt-SemiBold.ttf</string>
		<string>Texturina_12pt-SemiBoldItalic.ttf</string>
		<string>Texturina_12pt-Thin.ttf</string>
		<string>Texturina_12pt-ThinItalic.ttf</string>
		<string>Texturina_18pt-Black.ttf</string>
		<string>Texturina_18pt-BlackItalic.ttf</string>
		<string>Texturina_18pt-Bold.ttf</string>
		<string>Texturina_18pt-BoldItalic.ttf</string>
		<string>Texturina_18pt-ExtraBold.ttf</string>
		<string>Texturina_18pt-ExtraBoldItalic.ttf</string>
		<string>Texturina_18pt-ExtraLight.ttf</string>
		<string>Texturina_18pt-ExtraLightItalic.ttf</string>
		<string>Texturina_18pt-Italic.ttf</string>
		<string>Texturina_18pt-Light.ttf</string>
		<string>Texturina_18pt-LightItalic.ttf</string>
		<string>Texturina_18pt-Medium.ttf</string>
		<string>Texturina_18pt-MediumItalic.ttf</string>
		<string>Texturina_18pt-Regular.ttf</string>
		<string>Texturina_18pt-SemiBold.ttf</string>
		<string>Texturina_18pt-SemiBoldItalic.ttf</string>
		<string>Texturina_18pt-Thin.ttf</string>
		<string>Texturina_18pt-ThinItalic.ttf</string>
		<string>Texturina_20pt-Black.ttf</string>
		<string>Texturina_20pt-BlackItalic.ttf</string>
		<string>Texturina_20pt-Bold.ttf</string>
		<string>Texturina_20pt-BoldItalic.ttf</string>
		<string>Texturina_20pt-ExtraBold.ttf</string>
		<string>Texturina_20pt-ExtraBoldItalic.ttf</string>
		<string>Texturina_20pt-ExtraLight.ttf</string>
		<string>Texturina_20pt-ExtraLightItalic.ttf</string>
		<string>Texturina_20pt-Italic.ttf</string>
		<string>Texturina_20pt-Light.ttf</string>
		<string>Texturina_20pt-LightItalic.ttf</string>
		<string>Texturina_20pt-Medium.ttf</string>
		<string>Texturina_20pt-MediumItalic.ttf</string>
		<string>Texturina_20pt-Regular.ttf</string>
		<string>Texturina_20pt-SemiBold.ttf</string>
		<string>Texturina_20pt-SemiBoldItalic.ttf</string>
		<string>Texturina_20pt-Thin.ttf</string>
		<string>Texturina_20pt-ThinItalic.ttf</string>
		<string>Texturina_24pt-Black.ttf</string>
		<string>Texturina_24pt-BlackItalic.ttf</string>
		<string>Texturina_24pt-Bold.ttf</string>
		<string>Texturina_24pt-BoldItalic.ttf</string>
		<string>Texturina_24pt-ExtraBold.ttf</string>
		<string>Texturina_24pt-ExtraBoldItalic.ttf</string>
		<string>Texturina_24pt-ExtraLight.ttf</string>
		<string>Texturina_24pt-ExtraLightItalic.ttf</string>
		<string>Texturina_24pt-Italic.ttf</string>
		<string>Texturina_24pt-Light.ttf</string>
		<string>Texturina_24pt-LightItalic.ttf</string>
		<string>Texturina_24pt-Medium.ttf</string>
		<string>Texturina_24pt-MediumItalic.ttf</string>
		<string>Texturina_24pt-Regular.ttf</string>
		<string>Texturina_24pt-SemiBold.ttf</string>
		<string>Texturina_24pt-SemiBoldItalic.ttf</string>
		<string>Texturina_24pt-Thin.ttf</string>
		<string>Texturina_24pt-ThinItalic.ttf</string>
		<string>Texturina_28pt-Black.ttf</string>
		<string>Texturina_28pt-BlackItalic.ttf</string>
		<string>Texturina_28pt-Bold.ttf</string>
		<string>Texturina_28pt-BoldItalic.ttf</string>
		<string>Texturina_28pt-ExtraBold.ttf</string>
		<string>Texturina_28pt-ExtraBoldItalic.ttf</string>
		<string>Texturina_28pt-ExtraLight.ttf</string>
		<string>Texturina_28pt-ExtraLightItalic.ttf</string>
		<string>Texturina_28pt-Italic.ttf</string>
		<string>Texturina_28pt-Light.ttf</string>
		<string>Texturina_28pt-LightItalic.ttf</string>
		<string>Texturina_28pt-Medium.ttf</string>
		<string>Texturina_28pt-MediumItalic.ttf</string>
		<string>Texturina_28pt-Regular.ttf</string>
		<string>Texturina_28pt-SemiBold.ttf</string>
		<string>Texturina_28pt-SemiBoldItalic.ttf</string>
		<string>Texturina_28pt-Thin.ttf</string>
		<string>Texturina_28pt-ThinItalic.ttf</string>
		<string>Texturina_36pt-Black.ttf</string>
		<string>Texturina_36pt-BlackItalic.ttf</string>
		<string>Texturina_36pt-Bold.ttf</string>
		<string>Texturina_36pt-BoldItalic.ttf</string>
		<string>Texturina_36pt-ExtraBold.ttf</string>
		<string>Texturina_36pt-ExtraBoldItalic.ttf</string>
		<string>Texturina_36pt-ExtraLight.ttf</string>
		<string>Texturina_36pt-ExtraLightItalic.ttf</string>
		<string>Texturina_36pt-Italic.ttf</string>
		<string>Texturina_36pt-Light.ttf</string>
		<string>Texturina_36pt-LightItalic.ttf</string>
		<string>Texturina_36pt-Medium.ttf</string>
		<string>Texturina_36pt-MediumItalic.ttf</string>
		<string>Texturina_36pt-Regular.ttf</string>
		<string>Texturina_36pt-SemiBold.ttf</string>
		<string>Texturina_36pt-SemiBoldItalic.ttf</string>
		<string>Texturina_36pt-Thin.ttf</string>
		<string>Texturina_36pt-ThinItalic.ttf</string>
		<string>Texturina_48pt-Black.ttf</string>
		<string>Texturina_48pt-BlackItalic.ttf</string>
		<string>Texturina_48pt-Bold.ttf</string>
		<string>Texturina_48pt-BoldItalic.ttf</string>
		<string>Texturina_48pt-ExtraBold.ttf</string>
		<string>Texturina_48pt-ExtraBoldItalic.ttf</string>
		<string>Texturina_48pt-ExtraLight.ttf</string>
		<string>Texturina_48pt-ExtraLightItalic.ttf</string>
		<string>Texturina_48pt-Italic.ttf</string>
		<string>Texturina_48pt-Light.ttf</string>
		<string>Texturina_48pt-LightItalic.ttf</string>
		<string>Texturina_48pt-Medium.ttf</string>
		<string>Texturina_48pt-MediumItalic.ttf</string>
		<string>Texturina_48pt-Regular.ttf</string>
		<string>Texturina_48pt-SemiBold.ttf</string>
		<string>Texturina_48pt-SemiBoldItalic.ttf</string>
		<string>Texturina_48pt-Thin.ttf</string>
		<string>Texturina_48pt-ThinItalic.ttf</string>
		<string>Texturina_60pt-Black.ttf</string>
		<string>Texturina_60pt-BlackItalic.ttf</string>
		<string>Texturina_60pt-Bold.ttf</string>
		<string>Texturina_60pt-BoldItalic.ttf</string>
		<string>Texturina_60pt-ExtraBold.ttf</string>
		<string>Texturina_60pt-ExtraBoldItalic.ttf</string>
		<string>Texturina_60pt-ExtraLight.ttf</string>
		<string>Texturina_60pt-ExtraLightItalic.ttf</string>
		<string>Texturina_60pt-Italic.ttf</string>
		<string>Texturina_60pt-Light.ttf</string>
		<string>Texturina_60pt-LightItalic.ttf</string>
		<string>Texturina_60pt-Medium.ttf</string>
		<string>Texturina_60pt-MediumItalic.ttf</string>
		<string>Texturina_60pt-Regular.ttf</string>
		<string>Texturina_60pt-SemiBold.ttf</string>
		<string>Texturina_60pt-SemiBoldItalic.ttf</string>
		<string>Texturina_60pt-Thin.ttf</string>
		<string>Texturina_60pt-ThinItalic.ttf</string>
		<string>Texturina_72pt-Black.ttf</string>
		<string>Texturina_72pt-BlackItalic.ttf</string>
		<string>Texturina_72pt-Bold.ttf</string>
		<string>Texturina_72pt-BoldItalic.ttf</string>
		<string>Texturina_72pt-ExtraBold.ttf</string>
		<string>Texturina_72pt-ExtraBoldItalic.ttf</string>
		<string>Texturina_72pt-ExtraLight.ttf</string>
		<string>Texturina_72pt-ExtraLightItalic.ttf</string>
		<string>Texturina_72pt-Italic.ttf</string>
		<string>Texturina_72pt-Light.ttf</string>
		<string>Texturina_72pt-LightItalic.ttf</string>
		<string>Texturina_72pt-Medium.ttf</string>
		<string>Texturina_72pt-MediumItalic.ttf</string>
		<string>Texturina_72pt-Regular.ttf</string>
		<string>Texturina_72pt-SemiBold.ttf</string>
		<string>Texturina_72pt-SemiBoldItalic.ttf</string>
		<string>Texturina_72pt-Thin.ttf</string>
		<string>Texturina_72pt-ThinItalic.ttf</string>
		<string>Texturina-Black.ttf</string>
		<string>Texturina-BlackItalic.ttf</string>
		<string>Texturina-Bold.ttf</string>
		<string>Texturina-BoldItalic.ttf</string>
		<string>Texturina-ExtraBold.ttf</string>
		<string>Texturina-ExtraBoldItalic.ttf</string>
		<string>Texturina-ExtraLight.ttf</string>
		<string>Texturina-ExtraLightItalic.ttf</string>
		<string>Texturina-Italic.ttf</string>
		<string>Texturina-Light.ttf</string>
		<string>Texturina-LightItalic.ttf</string>
		<string>Texturina-Medium.ttf</string>
		<string>Texturina-MediumItalic.ttf</string>
		<string>Texturina-Regular.ttf</string>
		<string>Texturina-SemiBold.ttf</string>
		<string>Texturina-SemiBoldItalic.ttf</string>
		<string>Texturina-ThinItalic.ttf</string>
		<string>Play-Bold.ttf</string>
		<string>Play-Regular.ttf</string>
		<string>Pacifico-Regular.ttf</string>
	</array>
</dict>
</plist>
